@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

.body {
   font-family: 'Roboto', sans-serif;
}

.html {
   margin: 0;
   padding: 0;
}

.container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.column {
   grid-column: span 1;
}
