.container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   height: 100vh;
}

.column1 {
   grid-column: span 1;
}
.column2 {
   grid-column: span 2;
}
.column3 {
   grid-column: span 2;
}

.sidebar-menu {
   text-align: center;
}

.sidebar-logo {
   font-size: 3rem;
   padding: 1.4rem;
   text-decoration: underline;
   color: #585757;
}

.sidebar-menu-ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.sidebar-menu-element {
   display: block;
   margin-top: 5px;
}

.sidebar-menu-element a {
   display: inline-block;
   padding: 10px;
   text-decoration: none;
   color: #171717;
   background-color: #fff;
}

.sidebar-menu-element a:hover {
   background-color: #f2f2f2;
   border-radius: 9999px;
}

.sidebar-share {
   margin-top: 10px;
   display: inline-block;
   font-size: 1.2rem;
   padding: 1rem;
   background-color: #1da1f2;
   border-radius: 9999px;
}

.sidebar-share a {
   text-decoration: none;
   color: #fff;
}

.sidebar-share:hover {
   border-radius: 9999px;
   text-decoration: underline;
   cursor: pointer;
}
.sidebar-profile {
   background-color: #1da1f2;
   width: 3rem;
   height: 3rem;
   display: flex;
   border-radius: 9999px;
   position: relative;
   margin: auto;
}

/* Main */

.main-column {
   border-left: 0.5px solid;
   border-right: 0.5px solid;
   height: 100vh;
   position: relative;
   align-items: center;
   padding-top: 1rem;
}

.main-column-title {
   display: flex;
   margin-left: 0.7rem;
}

.main-column-tweet {
   text-align: left;
   display: flex;
   padding: 10px 0;
   border-top: 1px solid #585757;
   border-bottom: 1px solid #585757;
}

.whats-going-on {
   display: flex;
   text-align: center;
   justify-content: center;
   margin-left: 1rem;
}

.main-column-profile {
   background-color: #1da1f2;
   width: 3rem;
   height: 3rem;
   display: flex;
   border-radius: 9999px;
   position: relative;
   margin-left: 1rem;
}

.main-column-user {
   margin-left: 0.5rem;
   margin-top: 0.1rem;
   display: flex;
}

.main-column-user-container {
   border-bottom: 1px solid #585757;
}

.main-column-user-profile {
   background-color: #1da1f2;
   width: 3rem;
   height: 3rem;
   display: flex;
   border-radius: 9999px;
}

.main-column-user-name {
   font-size: medium;
   margin-top: 0.5rem;
   margin-left: 0.3rem;
   margin-bottom: 0rem;
}

.tweet-content {
   margin-top: 0.3rem;
   margin-left: 0.3rem;
   font-size: small;
}

.buttons {
   display: flex;
   margin: 0 0 0.2rem 35%;
   align-items: center;
}

.like-button {
   margin-right: 0.1rem;
   color: #585757;
}

.disliked-button {
   color: #585757;
   padding: 5px;
}

.disliked-button:hover {
   color: #f2f2f2;
   background-color: orangered;
   border-radius: 100%;
}

.like-count {
   font-size: 0.7rem;
   margin-left: 0.3rem;
   color: #585757;
}

.like-count:hover {
   color: orangered;
}
